<h1>Astronomy Picture of the Day (APOD)</h1>
<p>
  <code>apod.service.ts</code> is a predefined service that supplies data from
  NASA's Picture of the Day API.
</p>
<h2>Tasks</h2>
<ol>
  <li>
    Visualize the data in the <code>apod.component.ts</code> placeholder
    component.
  </li>
  <li>Display cards with 6 days in the past, in a layout of your choice.</li>
  <li>Add prev/next buttons to add more pages of data.</li>
</ol>
<h2>Playground</h2>
<div class="playground">
  <!-- <div style="margin-top: 1rem">
    <button>prev</button>
    <button>next</button>
  </div> -->
  <apod> Day 1 </apod>
</div>
